@import "tailwindcss";


* {
	box-sizing: border-box;
}
body {
	height: 100vh;
  background-image: url("/wp-1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
}

.metal {
	background-image: url("/patt-1.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
}

#root {
	height: inherit;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 53px;
  background-color: #2e2e2e;
  border-radius: 6px;
}
.button1 {
	display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: gainsboro;
  box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 2px,
    #ffffff 1.5px 1.5px 2px 0px inset, #c7c3c0 -3.2px -3.2px 8px 0px inset;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.button4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: firebrick;
  box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 2px,
    #a8a6a4 1.5px 1.5px 1px 0px inset, #545251 -3.2px -3.2px 8px 0px inset;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.button1:active,.button4:active {
  box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
    #545251 -3.2px -3.2px 8px 0px inset;
		transform: translateY(0.5px);
}

.metal-range {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 0.5rem; /* h-2 */
  border-radius: 0.5rem; /* rounded-lg */
  background: whitesmoke;
  cursor: pointer;
}

.metal-range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 1.5rem; /* w-6 */
  height: 1.5rem; /* h-6 */
  border-radius: 9999px; /* rounded-full */
  cursor: pointer;
  border: 1px solid #6b7280; /* border-gray-500 */
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  background: conic-gradient(rgb(104, 104, 104),white,rgb(104, 104, 104),white,rgb(104, 104, 104));
}

.metal-range::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 9999px;
  cursor: pointer;
  border: 1px solid #6b7280;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  background: conic-gradient(rgb(104, 104, 104),white,rgb(104, 104, 104),white,rgb(104, 104, 104));
}
.shadow-3d {
  box-shadow:
    inset 0 1px 2px rgba(255,255,255,0.4),
    inset 0 -2px 4px rgba(0,0,0,0.5),
    0 3px 6px rgba(0,0,0,0.4);
}
