@import "tailwindcss";

body {
	height: 100vh;
  background-image: url("/wp-1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
}

.metal {
	background-image: url("/patt.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
}

#root {
	height: inherit;
}
